<nav class="mynav">
    <div class="container-fluid">

        <ul>
            <li>
                <a class="navbar-brand" routerLink="home" href=""><img src="assets/image/logo1.png" alt=""></a>
            </li>
            <li><a routerLink="home" routerLinkActive="active"><span class="glyphicon glyphicon-home navItems"></span> Home</a></li>
            <li><a routerLink="menu" routerLinkActive="active"><span class="glyphicon glyphicon-cutlery navItems"></span>&nbsp;Menu</a></li>

            <li><a routerLink="cart" routerLinkActive="active"><span class="glyphicon glyphicon-shopping-cart navItems"></span>Add to Cart</a></li>
            <li><a routerLink="signup" routerLinkActive="active"><span class="glyphicon glyphicon-user  navItems"></span> Sign Up</a></li>
            <li><a routerLink="login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in navItems"></span> Login</a></li>
            <li><a routerLink="about" routerLinkActive="active"><span class="glyphicon glyphicon-asterisk navItems"></span> About Us</a></li>

            <li><a routerLink="dp" routerLinkActive="active"><span class="glyphicon glyphicon-asterisk navItems"></span>Delivery Partner</a></li>
        </ul>
    </div>
</nav>